{% extends "base.html" %}

{% block addedcss %}

<style>

  .donation-container {
    max-width: 415px;
    align-self: center;
    margin: auto;
  }

  .result-message {
    line-height: 22px;
    font-size: 16px;
  }

  .result-message a {
    color: rgb(89, 111, 214);
    font-weight: 600;
    text-decoration: none;
  }

  .dropdown-item{
    text-align: center;
    height: 40px;
  }

  img {
    vertical-align: unset;
  }

</style>

{% endblock %}

{% block content %}

<div class="donation-container">
  <div style="width: 100%; height: 3rem;"></div>

  <div class="card text-center">
    <div class="card-header" style="padding-top: 1rem; padding-bottom: 1rem;">
      <h3 style="margin-bottom: 0;">${{ total_amount }}</h3>
      <hr>
      <div style="text-align: left;">
        <p style="margin-bottom: 0.25rem;"><small>${{ musician_amount }} is paid to <b>{{ musician.name }}</b></small></p>
        <p style="margin-bottom: 0.25rem;"><small>${{ transaction_fee }} is paid as a transaction fee</small></p>
        <p style="margin-bottom: 0;"><small>${{ website_amount }} is paid to <b><i>musician.tips</i></b></small></p>
      </div>
    </div>
    <div class="card-body">

      <div class="form-group" style="margin-bottom: 0; text-align: left; padding-bottom: 0.25rem;">
        <div class="form-check">
          <input id="transaction-covered" class="form-check-input refresh-page" type="checkbox" {% if transaction_covered %}checked{% endif %}>
          <label class="form-check-label" style="text-align: left;">
            Cover the transaction fee
          </label>
        </div>
      </div>
      <div class="form-group" style="margin-bottom: 0; text-align: left;">
        <div class="form-check">
          <input id="website-donation" class="form-check-input refresh-page" type="checkbox" {% if website_donation %}checked{% endif %}>
          <label class="form-check-label">
            Contribute $0.25 to the <nobr><a href="/faq#dividend/"><i>Musician Tips Dividend</i></a></nobr>
          </label>
        </div>
      </div>
      <div style="width: 100%; height: 1.25rem;"></div>
      <div class="form-group" style="margin-bottom: 0;">
        <button id="go-to-checkout" class="btn btn-primary">Checkout</button>
      </div>
    </div>
  </div>

  <div style="width: 100%; height: 155px;"></div>

  {% if musician.venmo_url or musician.cash_app_url or musician.paypal_url %}
  <div class="dropup">
    <a class="btn btn-link dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Other payment options
    </a>

    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
      {% if musician.venmo_url %}
      <a class="dropdown-item" href="{{ musician.venmo_url }}" target="_blank" style="padding-top: 10px; padding-bottom: 12px;"><img src="/static/images/venmo.png" style="height: 15px;"/></a>
      {% endif %}
      {% if musician.cash_app_url %}
      <a class="dropdown-item" href="{{ musician.cash_app_url }}" target="_blank" style="padding-top: 7px; padding-bottom: 7px;"><img src="/static/images/cashapp.png" style="height: 26px;"/></a>
      {% endif %}
      {% if musician.paypal_url %}
      <a class="dropdown-item" href="{{ musician.paypal_url }}" target="_blank" style="padding-top: 5px; padding-bottom: 5px;"><img src="/static/images/paypal.svg" style="height: 30px;"/></a>
      {% endif %}
    </div>
  </div>
  {% endif %}

</div>

{% endblock %}

{% block addedjavascript %}

    <script type="text/javascript">

      const pathName = window.location.pathname;
      const queryString = window.location.search;
      const urlParams = new URLSearchParams(queryString);
      const amount = parseFloat(urlParams.get('amount'));

      const buttons = document.getElementsByClassName('refresh-page');
      for(let i = 0; i < buttons.length; i++) {
          var button = buttons[i];
          button.onclick = function() {
              const transactionCovered = document.getElementById('transaction-covered').checked;
              const websiteDonation = document.getElementById('website-donation').checked;

              let newSearchParams = new URLSearchParams();
              newSearchParams.set("amount", amount);
              newSearchParams.set("transactionCovered", transactionCovered);
              newSearchParams.set("websiteDonation", websiteDonation);

              window.location.href = pathName + "?" + newSearchParams.toString();
          }
      }

      var redirect = document.getElementById('go-to-checkout');
      redirect.onclick = function() {
          const transactionCovered = document.getElementById('transaction-covered').checked;
          const websiteDonation = document.getElementById('website-donation').checked;

          let newSearchParams = new URLSearchParams();
          newSearchParams.set("amount", amount);
          newSearchParams.set("transactionCovered", transactionCovered);
          newSearchParams.set("websiteDonation", websiteDonation);

          const musicianName = window.location.pathname.split('/')[1];

          window.location.href = `/${musicianName}/checkout/?` + newSearchParams.toString();
      }

    </script>

{% endblock %}
