{% extends "base.html" %}

{% block addedcss %}

<style>

  form {
    max-width: 400px;
    align-self: center;
    padding-left: 1rem;
    padding-right: 1rem;
    margin: auto;
    margin-top: 2rem;
  }

  input {
    border-radius: 6px;
    margin-bottom: 6px;
    padding: 12px;
    border: 1px solid rgba(50, 50, 93, 0.1);
    height: 44px;
    font-size: 16px;
    width: 100%;
    background: white;
  }

  .result-message {
    line-height: 22px;
    font-size: 16px;
  }

  .result-message a {
    color: rgb(89, 111, 214);
    font-weight: 600;
    text-decoration: none;
  }

  .hidden {
    display: none;
  }

  #card-error {
    color: rgb(105, 115, 134);
    text-align: left;
    font-size: 13px;
    line-height: 17px;
    margin-top: 12px;
  }

  #card-element {
    border-radius: 4px 4px 0 0 ;
    padding: 12px;
    border: 1px solid rgba(50, 50, 93, 0.1);
    height: 44px;
    width: 100%;
    background: white;
  }

  #payment-request-button {
    margin-bottom: 32px;
  }

  /* Buttons and links */
  .stripe-button {
    background: #5469d4;
    color: #ffffff;
    border-radius: 0 0 4px 4px;
    border: 0;
    padding: 12px 16px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    display: block;
    transition: all 0.2s ease;
    box-shadow: 0px 4px 5.5px 0px rgba(0, 0, 0, 0.07);
    width: 100%;
  }
  .stripe-button:hover {
    filter: contrast(115%);
  }
  .stripe-button:disabled {
    opacity: 0.5;
    cursor: default;
  }

  /* spinner/processing state, errors */
  .spinner,
  .spinner:before,
  .spinner:after {
    border-radius: 50%;
  }
  .spinner {
    color: #ffffff;
    font-size: 22px;
    text-indent: -99999px;
    margin: 0px auto;
    position: relative;
    width: 20px;
    height: 20px;
    margin-top: 2px;
    margin-bottom: 2px;
    box-shadow: inset 0 0 0 2px;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
  }
  .spinner:before,
  .spinner:after {
    position: absolute;
    content: "";
  }
  .spinner:before {
    width: 10.4px;
    height: 20.4px;
    background: #5469d4;
    border-radius: 20.4px 0 0 20.4px;
    top: -0.2px;
    left: -0.2px;
    -webkit-transform-origin: 10.4px 10.2px;
    transform-origin: 10.4px 10.2px;
    -webkit-animation: loading 2s infinite ease 1.5s;
    animation: loading 2s infinite ease 1.5s;
  }
  .spinner:after {
    width: 10.4px;
    height: 10.2px;
    background: #5469d4;
    border-radius: 0 10.2px 10.2px 0;
    top: -0.1px;
    left: 10.2px;
    -webkit-transform-origin: 0px 10.2px;
    transform-origin: 0px 10.2px;
    -webkit-animation: loading 2s infinite ease;
    animation: loading 2s infinite ease;
  }

  @-webkit-keyframes loading {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  @keyframes loading {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }

  /* Not Stripe styles */
  #donation-amount {
    text-align: center;
    margin-top: 2rem;
    font-size: 3rem;
  }

  /* "Switch" https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_switch */
  .switch {
    position: relative;
    display: inline-block;
    width: 32px;
    height: 17px;
  }

  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }

  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }

  .slider:before {
    position: absolute;
    content: "";
    height: 13px;
    width: 13px;
    left: 3px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }

  input:checked + .slider {
    background-color: #2196F3;
  }

  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }

  input:checked + .slider:before {
    -webkit-transform: translateX(13px);
    -ms-transform: translateX(13px);
    transform: translateX(13px);
  }

  /* Rounded sliders */
  .slider.round {
    border-radius: 17px;
  }

  .slider.round:before {
    border-radius: 50%;
  }

  .email-receipt {
    position: absolute;
    float: left;
    width: max-content;
    margin-left: 40px;
    margin-top: -1px;
    font-size: 13px;
    color: rgb(105, 115, 134);
  }
</style>

{% endblock %}

{% block content %}

<p id="donation-amount"></p>

<form id="payment-form">

  <label class="switch">
    <input type="checkbox">
    <span class="slider round"></span>
    <span class="email-receipt">Give <b>{{ musician.name }}</b> your email address.</span>
  </label>
  <br>

  <label class="switch">
    <input type="checkbox">
    <span class="slider round"></span>
    <span class="email-receipt">Join the <i>musician.tips</i> email list.</span>
  </label>
  <br>

  <label class="switch">
    <input type="checkbox">
    <span class="slider round"></span>
    <span class="email-receipt">Donate an extra $0.01 to <i>musician.tips</i></span>
  </label>
  <br><br>

  <div id="card-element"><!--Stripe.js injects the Card Element--></div>
  <button id="submit" class="stripe-button" disabled>
    <div class="spinner hidden" id="spinner"></div>
    <span id="button-text">Pay</span>
  </button>
  <p id="card-error" role="alert"></p>
  <p id="card-success" role="alert"></p>
</form>

{% endblock %}

{% block addedjavascript %}

    <script src="https://js.stripe.com/v3/"></script>
    <script type="text/javascript">

      // Clean and validate donation amount
      const queryString = window.location.search;
      const urlParams = new URLSearchParams(queryString);
      const donationAmount = parseFloat(urlParams.get('amount'));
      const expectedAmounts = [5, 10, 20, 50];
      if(!expectedAmounts.includes(donationAmount)) {
        document.location.href = `/choose`;

      // Initialize page
      } else {
        document.getElementById("donation-amount").textContent = `$${donationAmount}`;
      }

      // Show a spinner on payment submission
      var loading = function(isLoading) {
        if (isLoading) {
          // Disable the button and show a spinner
          document.querySelector("button").disabled = true;
          document.querySelector("#spinner").classList.remove("hidden");
          document.querySelector("#button-text").classList.add("hidden");
        } else {
          document.querySelector("button").disabled = false;
          document.querySelector("#spinner").classList.add("hidden");
          document.querySelector("#button-text").classList.remove("hidden");
        }
      };

      // Stripe Style
      var style = {
        base: {
          color: "#32325d",
          fontFamily: 'Arial, sans-serif',
          fontSmoothing: "antialiased",
          fontSize: "16px",
          "::placeholder": {
            color: "#32325d"
          }
        },
        invalid: {
          fontFamily: 'Arial, sans-serif',
          color: "#fa755a",
          iconColor: "#fa755a"
        }
      };

      // Initialize Stripe
      var stripe = Stripe("pk_test_51HjCYCJNxsmNR22QpDcjAyof2rHqvwCHhjHUIwjtZbKrCQ66Prd54m7TkhQGdOGTii9B4ZLNjtso48J3k1BIvN9200Q2QHLHXX");

      // Create payment intent
      const request = new Request(
        "../../payments/stripe/create-intent/",
        {headers: {"X-CSRFToken": CSRF_TOKEN}}
      );
      fetch(request, {
        method: "POST",
        mode: "same-origin",
        body: JSON.stringify({
          'amount': donationAmount * 100,
          'musician': window.location.pathname,
        }),
      })
        .then(function(result) {
          return result.json();
        })
        .then(function(response) {

          // Verify status
          if(response.system.status !== 200) {
            document.getElementById('card-error').textContent = 'Server error';
            return;
          }

          // Continue Stripe setup
          var elements = stripe.elements();

          // Mount Stripe
          var card = elements.create("card", { style: style });
          card.mount("#card-element");

          // Surface errors
          card.on("change", function (event) {
            document.querySelector("button").disabled = event.empty;
            document.querySelector("#card-error").textContent = event.error ? event.error.message : "";
          });

          // Add listeners
          var form = document.getElementById("payment-form");
          form.addEventListener("submit", function(event) {
            event.preventDefault();
            // Complete payment when the submit button is clicked
            payWithCard(stripe, card, response.data.clientSecret);
          });

          // Update style
          document.querySelector("button").disabled = false;
        })
        .catch(function() {
          document.querySelector("#card-error").textContent = 'Unexpected error';
        });

      // Submit payment
      var payWithCard = function(stripe, card, clientSecret) {
        loading(true);
        stripe
          .confirmCardPayment(clientSecret, {
            payment_method: {
              card: card
            }
          })
          .then(function(result) {
            if (result.error) {
              // Show error to your customer
              showError(result.error.message);
            } else {
              // The payment succeeded!
              showSuccess();
            }
          });
      };

      // Handle error
      var showError = function(errorMsgText) {
        loading(false);
        var errorMsg = document.querySelector("#card-error");
        errorMsg.textContent = errorMsgText;
        setTimeout(function() {
          errorMsg.textContent = "";
        }, 8000);
      };

      // Handle success
      var showSuccess = function() {
        document.querySelector("#button-text").textContent = "Ba Dum (Cha-Ching)!";
        document.querySelector("#spinner").classList.add("hidden");
        document.querySelector("#button-text").classList.remove("hidden");
        document.querySelector("#card-success").innerHTML = `<a href="/">Back to homepage</a>`;
      }

    </script>

{% endblock %}
