{% extends "base.html" %}

{% block addedcss %}

<style>

  .donation-container {
    max-width: 415px;
    align-self: center;
    margin: auto;
  }

  .result-message {
    line-height: 22px;
    font-size: 16px;
  }

  .result-message a {
    color: rgb(89, 111, 214);
    font-weight: 600;
    text-decoration: none;
  }

  .hidden {
    display: none;
  }

  #card-error {
    color: #6c757d;
    text-align: left;
    font-size: 13px;
    line-height: 17px;
    margin-top: 12px;
  }

  #card-element {
    border-radius: 4px 4px 0 0 ;
    padding: 12px;
    border: 1px solid rgba(0, 0, 0, 0.125);
    height: 44px;
    width: 100%;
    background: white;
  }

  #payment-request-button {
    margin-bottom: 32px;
  }

  /* Buttons and links */
  .stripe-button {
    /* border-radius: 0 0 4px 4px;
    border: 0;
    padding: 12px 16px;
    cursor: pointer;
    display: block;
    transition: all 0.2s ease;
    box-shadow: 0px 4px 5.5px 0px rgba(0, 0, 0, 0.07); */
    width: 100%;
    height: 44px;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
  }
  /* .stripe-button:hover {
    filter: contrast(115%);
  }
  .stripe-button:disabled {
    opacity: 0.5;
    cursor: default;
  } */

  /* spinner/processing state, errors */
  .spinner,
  .spinner:before,
  .spinner:after {
    border-radius: 50%;
  }
  .spinner {
    color: #ffffff;
    font-size: 22px;
    text-indent: -99999px;
    margin: 0px auto;
    position: relative;
    width: 20px;
    height: 20px;
    margin-top: 2px;
    margin-bottom: 2px;
    box-shadow: inset 0 0 0 2px;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
  }
  .spinner:before,
  .spinner:after {
    position: absolute;
    content: "";
  }
  .spinner:before {
    width: 10.4px;
    height: 20.4px;
    background: #5469d4;
    border-radius: 20.4px 0 0 20.4px;
    top: -0.2px;
    left: -0.2px;
    -webkit-transform-origin: 10.4px 10.2px;
    transform-origin: 10.4px 10.2px;
    -webkit-animation: loading 2s infinite ease 1.5s;
    animation: loading 2s infinite ease 1.5s;
  }
  .spinner:after {
    width: 10.4px;
    height: 10.2px;
    background: #5469d4;
    border-radius: 0 10.2px 10.2px 0;
    top: -0.1px;
    left: 10.2px;
    -webkit-transform-origin: 0px 10.2px;
    transform-origin: 0px 10.2px;
    -webkit-animation: loading 2s infinite ease;
    animation: loading 2s infinite ease;
  }

  @-webkit-keyframes loading {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  @keyframes loading {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }

  /* Not Stripe styles */

  .email-input {
    width: 100%;
  }

  .stamp {
    /* transform: rotate(12deg); */
  	color: #555;
  	font-size: 3rem;
  	font-weight: 700;
  	border: 0.25rem solid #555;
  	display: inline-block;
  	padding: 0.25rem 1rem;
  	text-transform: uppercase;
  	border-radius: 1rem;
  	font-family: 'Courier';
  	/* -webkit-mask-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/8399/grunge.png');
    -webkit-mask-size: 944px 604px;
    mix-blend-mode: multiply; */
  }

  .is-approved {
  	color: #0A9928;
    background-color: rgb(256, 256, 256, 0.90);
    backdrop-filter: blur(12px);
  	border: 0.5rem solid #0A9928;
  	/* -webkit-mask-position: 13rem 6rem; */
  	transform: rotate(-14deg);
    position: absolute;
    display: flex;
    align-items: center; /** Y-axis align **/
    justify-content: center; /** X-axis align **/

    top: -108px;
    left: 16px;
    position: relative;
    width: calc(100% - 3rem);
    text-align: center;
  }

</style>

{% endblock %}

{% block content %}

<div class="donation-container">
  <div style="width: 100%; height: 3rem;"></div>

  <div class="card text-center">
    <div class="card-header" style="padding-top: 1rem; padding-bottom: 1rem; border-bottom: 0;">
      <h3 style="margin-bottom: 0;">${{ total_amount }}</h3>
      <hr>
      <div style="text-align: left;">
        <p style="margin-bottom: 0.25rem;"><small>${{ musician_amount }} is paid to <b>{{ musician.name }}</b></small></p>
        <p style="margin-bottom: 0.25rem;"><small>${{ transaction_fee }} is paid as a transaction fee</small></p>
        <p style="margin-bottom: 0;"><small>${{ website_amount }} is paid to <b><i>musician.tips</i></b></small></p>
      </div>
    </div>
  </div>

  <div style="width: 100%; height: 3rem;"></div>

  <div class="card text-center">
    <div class="card-body" style="text-align: left;">

      <div class="form-group">
        <div class="form-check" style="padding-left: 0;">
          <input id="email" type="email" class="form-control email-input" placeholder="Email address">
        </div>
      </div>

      <div class="form-group">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" checked disabled>
          <label class="form-check-label">
            Send me a receipt
          </label>
        </div>
      </div>

      <div class="form-group" style="margin-bottom: 0;">
        <div class="form-check" style="padding-bottom: 0.25rem">
          <input id="allow-musician-to-contact-me" class="form-check-input" type="checkbox">
          <label class="form-check-label">
            Allow <b>{{ musician.name }}</b> to contact me
          </label>
        </div>
        <div class="form-check">
          <input id="allow-website-to-contact-me" class="form-check-input" type="checkbox">
          <label class="form-check-label">
            Subscribe to <b><i>musician.tips</i></b>
          </label>
        </div>
      </div>

    </div>
  </div>

  <form id="payment-form">
    <div style="width: 100%; height: 3rem;"></div>
    <div id="card-element"><!--Stripe.js injects the Card Element--></div>
    <button id="submit" class="stripe-button btn btn-primary" disabled>
      <div class="spinner hidden" id="spinner"></div>
      <span id="button-text">Pay</span>
    </button>
    <p id="card-error" role="alert"></p>
    <p id="card-success" role="alert"></p>
  </form>
  <span id="paid-stamp" class="stamp is-approved" style="display: none;">Paid</span>

</div>

<!-- global JS variable: CLIENT_SECRET -->
<div id="client-secret" class="hidden"><input value="{{ client_secret }}"></div>

<!-- global JS variable: STRIPE_PUBLIC_KEY -->
<div id="stripe-public-key" class="hidden"><input value="{{ stripe_public_key }}"></div>

{% endblock %}

{% block addedjavascript %}

    <script src="https://js.stripe.com/v3/"></script>

    <script type="text/javascript">

      const CLIENT_SECRET = document.getElementById("client-secret").childNodes[0].value;
      const STRIPE_PUBLIC_KEY = document.getElementById("stripe-public-key").childNodes[0].value;

      // Clean and validate donation amount
      const queryString = window.location.search;
      const urlParams = new URLSearchParams(queryString);
      const donationAmount = parseFloat(urlParams.get('amount'));

      // Show a spinner on payment submission
      var loading = function(isLoading) {
        if (isLoading) {
          // Disable the button and show a spinner
          document.querySelector("button").disabled = true;
          document.querySelector("#spinner").classList.remove("hidden");
          document.querySelector("#button-text").classList.add("hidden");
        } else {
          document.querySelector("button").disabled = false;
          document.querySelector("#spinner").classList.add("hidden");
          document.querySelector("#button-text").classList.remove("hidden");
        }
      };

      // Stripe Style
      var style = {
        base: {
          color: "#212529",
          fontFamily: 'Roboto, sans-serif',
          fontSmoothing: "antialiased",
          fontSize: "16px",
          "::placeholder": {
            color: "#6c757d"
          }
        },
        invalid: {
          fontFamily: 'Arial, sans-serif',
          color: "#721c24",
          iconColor: "#721c24"
        }
      };

      // Initialize Stripe
      var stripe = Stripe(STRIPE_PUBLIC_KEY);

      // Create payment intent
      const request = new Request(
        "../../payments/stripe/create-intent/",
        {headers: {"X-CSRFToken": CSRF_TOKEN}}
      );
      (function() {

        // Verify status
        if(!CLIENT_SECRET) {
          document.getElementById('card-error').textContent = 'Server error';
          return;
        }

        // Continue Stripe setup
        var elements = stripe.elements();

        // Mount Stripe
        var card = elements.create("card", { style: style });
        card.mount("#card-element");

        // Surface errors
        card.on("change", function (event) {
          document.querySelector("button").disabled = event.empty;
          document.querySelector("#card-error").textContent = event.error ? event.error.message : "";
        });

        // Add listeners
        var form = document.getElementById("payment-form");
        form.addEventListener("submit", function(event) {
          event.preventDefault();
          // Complete payment when the submit button is clicked
          payWithCard(stripe, card, CLIENT_SECRET);
        });

        // Update style
        document.querySelector("button").disabled = false;
      })()


      // Submit payment
      var payWithCard = function(stripe, card, clientSecret) {

        const emailField = document.getElementById('email');
        const isValidEmail = Boolean(emailField.value) && emailField.checkValidity();
        if(!isValidEmail) {
          let errorMsg = document.querySelector("#card-error");
          errorMsg.textContent = 'Your email address is incomplete.';
          emailField.classList.add('border-danger');
          return;
        }

        loading(true);
        stripe
          .confirmCardPayment(clientSecret, {
            receipt_email: emailField.value,
            payment_method: {
              card: card
            }
          })
          .then(function(result) {
            if (result.error) {
              // Show error to your customer
              showError(result.error.message);
            } else {
              // The payment succeeded!
              showSuccess();
            }
          });
      };

      const emailField = document.getElementById('email');
      emailField.onclick = function() {
        emailField.classList.remove('border-danger');
        let errorMsg = document.querySelector("#card-error");
        if(errorMsg.textContent === 'Your email address is incomplete.') {
          errorMsg.textContent = '';
        }
      }

      // Handle error
      var showError = function(errorMsgText) {
        loading(false);
        var errorMsg = document.querySelector("#card-error");
        errorMsg.textContent = errorMsgText;
        setTimeout(function() {
          errorMsg.textContent = "";
        }, 4000);
      };

      // Handle success
      var showSuccess = function() {
        document.querySelector("#spinner").classList.add("hidden");
        document.querySelector("#button-text").classList.remove("hidden");

        const request = new Request(
          "../../api/communications/subscription/create/",
          {headers: {"X-CSRFToken": CSRF_TOKEN}}
        );

        const subscriptionEmail = document.getElementById('email').value
        const musicianName = window.location.pathname.split('/')[1];
        let promises = [];

        let checkbox = document.getElementById('allow-musician-to-contact-me');
        if(checkbox.checked) {
          promises.push(
            fetch(request, {
              method: "POST",
              mode: "same-origin",
              body: JSON.stringify({'musicianUsername': musicianName, 'subscriptionEmail': subscriptionEmail}),
            })
          )
        }

        checkbox = document.getElementById('allow-website-to-contact-me');
        if(checkbox.checked) {
          promises.push(
            fetch(request, {
              method: "POST",
              mode: "same-origin",
              body: JSON.stringify({'musicianUsername': 'admin', 'subscriptionEmail': subscriptionEmail}),
            })
          )
        }

        Promise.all(promises).then(
          () => {
            document.location.href = `/${musicianName}/receipt/${window.location.search};`
          }
        );
      }


    </script>

{% endblock %}
