{% extends "base.html" %}

{% block addedcss %}

<style>

  .donation-container {
    max-width: 415px;
    align-self: center;
    margin: auto;
  }

  .donation-type {
    width: 100%;
    height: 55px;
    float: left;
    margin-right: 1rem;
    margin-top: 1rem;
    padding: 14px;
  }

  .grey-subtitle {
    text-align: right;

    margin-top: 0.5rem;
    margin-bottom: 0.5rem;  /* + 0.5 rem */
  }

  .email-receipt {
    position: absolute;
    float: left;
    width: max-content;
    margin-left: 40px;
    margin-top: -1px;
    font-size: 13px;
    color: rgb(105, 115, 134);
  }

  .custom-donation-amount {
    margin-top: 1rem;
    width: 6rem;
    height: 55px;
    text-align: center;
    float: left;
  }

  .custom-donation-button {
    margin: 1rem 0 0 1rem;
    height: 55px;
    text-align: center;
    width: calc(100% - 7rem);
    float: right;
  }

</style>

{% endblock %}

{% block content %}

<div class="donation-container">

  <div style="width: 100%; height: 3rem;"></div>
  <p class="aligned-right">Thank you for listening.</p>
  <p class="text-muted aligned-right">Select a contribution amount towards {{ musician.name }}'s performance.</p>
  <div style="width: 100%; height: 1rem;"></div>

  <div class="donation-button-container">
    {% for amount_choice in amount_choices %}

      <a href="/{{ musician.username }}/cart?amount={{ amount_choice }}00" class="donation-type btn btn-secondary" amount="{{ amount_choice }}">
        ${{ amount_choice }}
      </a>

    {% endfor %}

    <span>
      <input id="custom-donation-amount" type="text" class="form-control custom-donation-amount" min="0.50" step="0.01" max="100">
      <button id="custom-donation-submit" class="donation-type custom-donation-button btn btn-light" amount="">
        Custom
      </button>
    </span>
  </div>

</div>

{% endblock %}

{% block addedjavascript %}

<script type="text/javascript">
  const button = document.getElementById("custom-donation-submit");
  button.addEventListener("click", function() {
    var amount = document.getElementById("custom-donation-amount").value;
    document.location.href = `${window.location.pathname}cart/?amount=${amount * 100}`;
  });
</script>

{% endblock %}
