{% extends "base.html" %}

{% block addedcss %}

<style>

  .main {
    max-width: 500px;
    align-self: center;
    margin: auto;
    margin-top: 3rem;
  }

  h3 {
    margin-top: 2rem;
    margin-bottom: 1rem;
  }


</style>

{% endblock %}

{% block content %}

<div class="main">

  <h1>Frequently asked questions</h1>

  <blockquote class="blockquote">

    <h3 id="transaction-fee">Why is there a transaction fee?</h3>
    <p><a href="https://stripe.com">Stripe</a> is the credit card payment processor. Their processing fee is <a href="https://stripe.com/pricing">2.9% + 30¢</a>.</p>

    <h3 id="dividend">What is the <i>Musician Tips Dividend</i>?</h3>
    <p>Everyone makes music, but not everyone is heard. The <i>Musician Tips Dividend</i> is split equally across all active musicians on the platform. Your contibution will help support your local San Francisco music scene.</p>
    <p>It also funds the upkeep costs of this website (about $6/ month).</p>

    <h3 id="sign-up">How do I start my own tip page?</h3>
    <p>For now, we only serve musicians performing in San Francisco. If you would like us to add support for your city, <a href="mailto: josh@schultheiss.io">send us an email</a>.</p>
    <p>If you are a San Francisco based artist, <a href="tel:6507729358">give us a call</a> so we can setup your tip page.</p>

    <h3 id="cost">How much does it cost?</h3>
    <p>It is free.</p>

    <h3 id="cost">How do you make money?</h3>
    <p>We do not make any money.</p>

    <h3 id="feature-request">Where do I submit a feature request?</h3>
    <p>Before creating a feature request, <a href="https://github.com/0x213F/musician-tips/issues/">browse pending feature requests</a>. Once you have verified that your request is unique, <a href="https://github.com/0x213F/musician-tips/issues/new">create a new issue.</a></p>

    <h3 id="contribute">How can I contribute to <i>musician.tips</i>?</h3>
    <p>You may donate your labor by working on <a href="https://github.com/0x213F/musician-tips/issues/">any open issues</a>.</p>
    <p>You can also financially <a href="https://github.com/0x213F/musician-tips">sponsor</a> the project to support site maintenance and encourage further development.</p>

    <h3 id="data-policy">What is your data policy?</h3>
    <p>After a purchase, we securely store your email in our database. Your email address is never shared with anyone without your permission. The musician will have access to your email address if you agreed to share it with them.</p>

    <h3 id="support">Where can I get help from support?</h3>
    <p><a href = "mailto: josh@schultheiss.io">Send us an email</a> with your question.</p>

  </blockquote>

</div>

{% endblock %}

{% block addedjavascript %}
{% endblock %}
