{% extends "base.html" %}

{% block addedcss %}

<style>
  img {
    user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
  }

  .donation-container {
    max-width: 500px;
    align-self: center;
    margin: auto;
    margin-top: 2rem;
  }

  .donation-type {
    width: calc(50% - 0.5rem);
    height: 55px;
    float: left;
    margin-right: 1rem;
    margin-top: 1rem;
  }

  @media screen and (max-width: 400px) {
    .donation-type {
      width: 100%;
    }
  }

  .donation-type:last-child {
    margin-right: 0rem;
  }

  .donation-button-container:first-child > .donation-type {
    margin-top: 0rem;
  }

  .half-and-half {
    display: flex;
    justify-content: space-between;
  }

  .right-and-grey {
    color: #DDD;
    text-align: right;
    font-size: 0.875rem;
    margin-top: 0.5rem;
    margin-bottom: 1.5rem;  /* + 0.5 rem */
  }

</style>

{% endblock %}

{% block content %}

<div class="donation-container">

  <p><b>Tip hat for musicians.</b></p>
  <p><b>Always free.</b></p>
  <p class="right-and-grey">(We are donation based)</p>
  <br>
  <p><a href="/live">Find live musicians near me.</a></p>

</div>

{% endblock %}

{% block addedjavascript %}

<script type="text/javascript">
  // Create payment intent
  const request = new Request(
    "/api/payments/get-recently-paid-users/",
    {headers: {"X-CSRFToken": CSRF_TOKEN}}
  );
  fetch(request, {
    method: "GET",
    mode: "same-origin",
  })
    .then(function(result) {
      return result.json();
    })
    .then(function(response) {

      console.log(response)

      // Verify status
      if(response.system.status !== 200) {
        return;
      }

      const recentlyPaidUsers = response.data.recentlyPaidUsers;


    })
    .catch(function() {
      // TODO
    });
</script>

{% endblock %}
