{% extends "base.html" %}

{% block addedcss %}

<style>
  img {
    user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
  }

  .donation-container {
    max-width: 500px;
    align-self: center;
    margin: auto;
    margin-top: 3rem;
  }

  .donation-type {
    width: calc(50% - 0.5rem);
    height: 55px;
    float: left;
    margin-right: 1rem;
    margin-top: 1rem;
  }

  @media screen and (max-width: 400px) {
    .donation-type {
      width: 100%;
    }
  }

  .donation-type:last-child {
    margin-right: 0rem;
  }

  .donation-button-container:first-child > .donation-type {
    margin-top: 0rem;
  }

  .half-and-half {
    display: flex;
    justify-content: space-between;
  }

  .right {
    text-align: right;
    font-size: 0.875rem;
    margin-top: 0.5rem;
    margin-bottom: 1.5rem;  /* + 0.5 rem */
  }

  img {
    image-rendering: optimizeSpeed;             /* STOP SMOOTHING, GIVE ME SPEED  */
    image-rendering: -moz-crisp-edges;          /* Firefox                        */
    image-rendering: -o-crisp-edges;            /* Opera                          */
    image-rendering: -webkit-optimize-contrast; /* Chrome (and eventually Safari) */
    image-rendering: pixelated; /* Chrome */
    image-rendering: optimize-contrast;         /* CSS3 Proposed                  */
    -ms-interpolation-mode: nearest-neighbor;   /* IE8+                           */

    position: absolute;
    bottom: 3rem;
    height: 36px;
    margin: auto;
}

</style>

{% endblock %}

{% block content %}

<div class="donation-container">

  <p><b>Hello, San Francisco 👋</b></p>
  <p class="right text-muted">Thank you for supporting live music.</p>

  <p style="text-align: center;">
    <a href="https://0x213f.com">
      <img src="/static/images/0x213F.png" />
    </a>
  </p>

</div>

{% endblock %}

{% block addedjavascript %}
{% endblock %}
